<!doctype html>
<html lang="en">


  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">
    <link href="/static/css/style.css" rel="stylesheet">
    <title>Пример формы</title>
  </head>


  <body>
    <h1>Contribute-eat-form</h1>
    <div>
        <form class="login_form" method="post" enctype="multipart/form-data">
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Введите адрес почты" name="email">
            <input type="password" class="form-control" id="password" placeholder="Введите пароль" name="password">


            <div class="form-group">
                <label for="about">Address</label>
                <textarea class="form-control" id="about" rows="3" name="about"></textarea>
            </div>


            <div class="form-group" type="file">
                <label for="photo">Product photo</label>
                <input type="file" class="form-control-file" id="photo" name="file">
            </div>


            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="acceptRules" name="accept">
                <label class="form-check-label" for="acceptRules">Send product by service</label>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>


        </form>
    </div>
  </body>
</html>