<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="/static/css/style.css" rel="stylesheet">
		<title>FoodShare.org</title>
	</head>

	<body>
		<nav class="top-menu">
			<ul class="menu-main">
				<li><a href="/">Главная</a></li>
				<li><a href="/order">Заказать</a></li>
				<li><a href="/FAQ" class="current">FAQ</a></li>
				<li><a href="/contacts">Контакты</a></li>
			</ul>
		</nav>
	</body>