<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link href="/static/css/login.css" rel="stylesheet">
</head>
<body id="login_content">
  {% extends "base.html" %}

  {% block content %}
      <form action="" method="post" novalidate class="decor">
          <div class="form-left-decoration"></div>
          <div class="form-right-decoration"></div>
          <div class="circle"></div>
          <div class="form-inner">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
            </p>
            <p>{{ form.submit() }}</p>
          </div>
      </form>
  {% endblock %}
</body>
</html>