<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" href="/static/favicon/favicon.ico" type="image/x-icon">
		<link href="/static/css/style.css" rel="stylesheet">
		<title>Order</title>
	</head>

	<body>
		<nav class="top-menu">
			<ul class="menu-main">
				<li><a href="/">Главная</a></li>
				<li><a href="/order" class="current">Заказать</a></li>
				<li><a href="/FAQ">FAQ</a></li>
				<li><a href="/contacts">Контакты</a></li>
			</ul>
		</nav>
		<div  onClick="window.location.href='/'" id="ugolkrug">
			<img src="static/img/s1200.webp">
			<b id="title">привет</b>
			<div></div>
			<b id="description">это описание</b>
		</div>		
	</body>