<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="expires" content="0">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" href="/static/favicon/favicon.ico" type="image/x-icon">
		<link href="/static/css/style.css" rel="stylesheet">
		{% block styles %}{% endblock %}
	</head>

	<body id="top">
		<nav class="top-menu sticky">
			<ul class="menu-main">
				<li><a href="/" class="{{ main }}">Главная</a></li>
				<li><a href="/order" class="{{ order }}">Заказать</a></li>
				<li><a href="/contribute" class="{{ cont }}">Отдать</a></li>
				<li><a href="/FAQ" class="{{ faq }}">FAQ</a></li>
				<li><a href="/contacts" class="{{ contacts }}">Контакты</a></li>
				{% if adm %}
				<li><a href="/adm_panel" class="{{ adm }}">Administrate</a></li>
				{% endif %}
			</ul>
		</nav>
		{% block content %}{% endblock %}
	</body>
	<body>
		<div id="bottom-menu">
			<a href="lekas1988@gmail.com">lekas1988@gmail.com</a>
		</div>
	</body>