<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Две колонки</title>

 </head>
 <body>
 <div class="container">
  <div class="row" style="background-color: #1b6d85;height: 600px">
      <div class="col-md-3" style="background-color: red; height: 300px"></div>
      <div class="col-md-3" style="background-color: #3132ff;height: 300px"></div>
      <div class="col-md-3" style="background-color: #43ff4e;height: 300px"></div>
      <div class="col-md-3" style="background-color: #43ff4e;height: 300px"></div>
  </div>
</div>
 </body>
</html>
